*{
    background-color: rgb(150, 172, 191);
}

.topheading{
text-decoration: underline white;
background-color: rgb(194, 214, 208);
color: rgb(92, 16, 162);
}

.sideheading{
    text-decoration:underline white;
    color: rgb(79, 47, 4);
    background-color: rgb(167, 160, 151);

}

.para{
 background-color: rgb(145, 172, 196);
}